.buynow-images{
    height: 260px;
    width: 160x;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.buynowContainerCards{
    background-color: aliceblue;
    border-radius: 10px;
    height: 580px;
    width: 450px;
    box-shadow: 2px 2px 3px 3px rgb(151, 150, 150);
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.btn41-43 {
    padding: 5px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display:block;
    width: 120px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0px auto;
    background: #000;
  }
  
  .btn-42 {
    border: 2px solid rgb(10, 0, 0);
    z-index: 1;
    color:#fff;
  }
  
  .btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: hwb(150 84% 9%);
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .btn-42:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-42:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn-42:active {
    top: 2px;
  }
  .buynow-details{
    font-size: 20px;
  }
  .buynowPrice{
    font-size: 28px;
    color: red;
  }
  .input-number{
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
  }