.tablet-images{
    height: 320px;
    width: 220px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.title{
    font-size: 30px;
    color: antiquewhite;
}
.cards-container{
    text-align: center;
    background-color: aliceblue;
    height: 500px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px violet;
    margin: 0px;
    margin-left: 5px;
}
.cards-container:hover{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    transform: translateY(20px);
}
.description{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 5px;
}
.description-1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 5px;
}
.btn-2{
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    width: 180px;
    height: 40px;
    margin: 5px;
    padding: 5px;
}

.btn{
    border: none;
    background-color: blueviolet;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-size: 15px;
}

.btn-1{
    border: none;
    background-color: blueviolet;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    font-size: 10px;
}
.lifestylecardcontainer{
    height: 530px;
    width: 400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    margin-top: 50px;
}
.lifestyle-image-card{
    height: 320px;
    margin-left: 30px;
}
.lifestyle-card-title{
    font-size: 25px;
    text-align: center;
}
.lifestyle-card-dec{
    font-size: 16px;
    text-align: center;
}
.lifestyle-card-btnn{
    padding: 5px 18px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 150px;
}
.lifestyle-card-offer{
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: rgb(242, 192, 229);
    padding: 1px 10px;
    font-size: 13px;
    border: 2px solid rgb(249, 6, 184);
    border-radius: 4px;
}
.audiocardcontainer{
    height: 390px;
    width: 310px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 50px;
}
.lifestyle-image-card-audio{
    height: 250px;
    margin-left: 20px;
}
.lifestyle-audio-title{
    font-size: 25px;
    text-align: center;
}
.lifestyle-audio-price{
    font-size: 20px;
    text-align: center;
}
.lifestyle-audio-btnn{
    padding: 5px 18px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 95px;
}

