.tv-images{
    height: 320px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.card-container{
    display: inline-block;
    text-align: center;
    background-color:white;
   
    width: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(126, 122, 126);
    margin-left: 40px;
    margin-top: 50px;
    padding-bottom: 20px;
    position: relative;
    background-color: aliceblue;
}
.card-container:hover{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    transform: translateY(20px);
}
.name-text{
    font-size: 25px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    margin: 2px;
    padding: 5px;
    word-break: break-word;
    text-align: center;
}
.price-text{
    font-size: 25px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    margin: 2px;
    padding: 5px;
}

.btn-container{
    display: inline-block;
    margin-bottom: 10px;
    
}
.btnn-1{
   
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    margin-top: 10px;
   margin-left:-23px; 
   padding: 2px 5px;
    
}
.btnn-2{
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 20px;
    padding: 2px 5px;
    
}
.delprice{
    font-size: 15px;
    margin-left: 20px;
    color:rgb(137, 129, 129);
}
.symbolicbtn{
position: absolute;
top: 20px;
left: 10px;
background-color:#ffe1cc;
color: #ff6900;
padding: 2px 10px;
border: 1px solid;
border-radius: 5px;
}