.tv-images{
    height: 320px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.card-container{
    display: inline-block;
    text-align: center;
    background-color:white;
    height: 500px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(126, 122, 126);
    margin-left: 40px;
    margin-top: 50px;
    position: relative;
}
.card-container:hover{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    transform: inherit;
}
.name-text{
    font-size: 25px;
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin: 2px;
    padding: 5px;
    word-break: break-word;
    text-align: center;
}
.price-text{
    font-size: 25px;
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin: 2px;
    padding: 5px;
}
.btn-1{
    display: inline-block;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    
}
.btn-2{
    background-color: white;
    color: black;
    border: 1px solid;
}
.delprice{
    font-size: 15px;
    margin-left: 20px;
    color: red;
}
.symbolicbtn{
position: absolute;
top: 50px;
left: 5px;
background-color: burlywood;
padding: 2px 10px;
}