.tv-images{
    height: 320px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.card-container{
    display: inline-block;
    text-align: center;
    background-color:white;
   
    width: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(126, 122, 126);
    margin-left: 40px;
    margin-top: 50px;
    padding-bottom: 20px;
    position: relative;
    background-color: aliceblue;
}
.card-container:hover{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    transform: translateY(20px);
}
.name-text{
    font-size: 25px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    margin: 2px;
    padding: 5px;
    word-break: break-word;
    text-align: center;
}
.price-text{
    font-size: 25px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    margin: 2px;
    padding: 5px;
}

.btn-container{
    display: inline-block;
    margin-bottom: 10px;
    
}
.btn41-43 {
    padding: 5px 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display:block;
    width: 109px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0px auto;
    background: #000;
  }
  
  .btn-42 {
    border: 2px solid rgb(10, 0, 0);
    z-index: 1;
    color:#fff;
  }
  
  .btn-42:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: hwb(150 84% 9%);
    transition: all 0.3s ease;
  }
  
  .btn-42:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-42:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn-42:active {
    top: 2px;
  }

.delprice{
    font-size: 15px;
    margin-left: 20px;
    color:rgb(137, 129, 129);
}
.symbolicbtn{
position: absolute;
top: 20px;
left: 10px;
background-color:#ffe1cc;
color: #ff6900;
padding: 2px 10px;
border: 1px solid;
border-radius: 5px;
}