.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.main-title{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:black;
}
.main-img{
    min-width: 225vh;
    height: 500px;

}