#footer
{
    background:#8FBB;
    color: #fff;
}

.footer-box
{
    text-wrap: wrap;
    padding: 20px;
    color: black;
}
.footer-box img
{
    width: 60px;
    margin-top: 10px;
}

 .footer-box .direction
{
 margin-right: 8px;
 font-size: 25px;
 height: 30px;
 width:30px;
 text-align: center;
 }

 .form-control
 {
    margin-left: 200px;
    border:1px solid black;
    border-radius: 10px;
    margin-top: 25px;
    max-width: 250px;
    width: 450px;
    
 }

 .footer-box .btn-primary
 {
    box-shadow: none !important;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    background-color:#7b1798;
 }

 hr
 {
    background-color: #fff;
    height: 5px;
 }

.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

.footer-quick-link
{
    color:black;
    text-decoration: none;
}
.banner-content
{
    font-size: 20px;
    text-align: center;
}

input,button
{
    margin-left: 170px;
}

.Faq-text
{
    color: black;
   margin-left: 220px;
}
#submit-btn
{
    margin-left: 280px;
}