.body{
    background-color: #00050d;
    color: white;
    
}
.main-title{
    font-size: 32px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:black;
}
.second-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
}
.first-card{
    height: 430px;
    width: 540px;
    border:1px solid bisque;
    margin-right: 20px;
    margin-top: 20px;
    
    

}
.first-card:hover{
    box-shadow: 1px 2px 2px 1px rgb(223, 223, 199);
    transition: 0.1s;
    border-radius: 8px;
}
.second-card{
    height: 430px;
    width: 540px;
    border: 1px solid bisque;
    margin-left: 0%;
    margin-top: 20px;
}
.second-card:hover{
    box-shadow: 1px 2px 2px 1px rgb(223, 223, 199);
    transition: 0.1s;
    border-radius: 8px;
    }
    .title-txt-1{
        text-align: center;
        margin-top: 5px;
    }
    .txt-1{
        text-align: center;
        margin-top: 0%;
    }
    .main-title-2{
        text-align: center;
    }
    .img-1{
        margin-left: 140px;
    }
<<<<<<< HEAD
=======
    .btn41-43 {
        padding: 5px 15px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        background: transparent;
        outline: none !important;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display:block;
        width: 109px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0px auto;
        background: #000;
      }
      
      .btn-42 {
        border: 2px solid rgb(10, 0, 0);
        z-index: 1;
        color:#fff;
      }
      
      .btn-42:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: hwb(150 84% 9%);
        transition: all 0.3s ease;
      }
      
      .btn-42:hover {
        color: rgb(0, 0, 0);
      }
      
      .btn-42:hover:after {
        top: 0;
        height: 100%;
      }
      
      .btn-42:active {
        top: 2px;
      }
    
    
>>>>>>> 0350d7d47da216e686690c2813f94101999e9f0f

    .main-title-3{
        text-align: center;
        margin-top: 20px;
    }
    .main-title-3:hover{
        color: red;
    }
    .main-title-33{
        text-align: center;
        margin-top: 0px;
    }
    .main-title-33:hover{
        color: rgb(234, 14, 14);
    }
    .third-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content:center ;
    }
    .third-card{
        height: 320px;
        width: 540px;
        border: 1px solid bisque;
        margin: 10px;
        box-shadow: 1px 2px 2px 1px rgb(223, 223, 199);
        border-radius: 5px;
    }
    .img-11{
        margin-left: 170px;
        height: 180px;
        width: 170px;

    }
    .last-container{

        margin: 50px;
        margin-top: 20px;
        display: flex;
        
      
    }
    .last-img{
        height: 420px;
        width: 660px;
        border-radius:5px;
        margin: 10px;

        
    }
    .last-text{
        text-align: center;
        margin-top: 130px;
    }
    .btn41-43 {
        padding: 5px 15px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        background: transparent;
        outline: none !important;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display:block;
        width: 109px;
        text-decoration: none;
        border-radius: 10px;
        margin: 0px auto;
        background: #000;
      }
      
      .btn-42 {
        border: 2px solid rgb(10, 0, 0);
        z-index: 1;
        color:#fff;
      }
      
      .btn-42:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: hwb(150 84% 9%);
        transition: all 0.3s ease;
      }
      
      .btn-42:hover {
        color: rgb(0, 0, 0);
      }
      
      .btn-42:hover:after {
        top: 0;
        height: 100%;
      }
      
      .btn-42:active {
        top: 2px;
      }
    
    